{% load static %}

<!doctype html>
<html lang="en">
  <head>
	  	<title>Regular Employee Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900' %}" >


    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900' %}" >

		<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      	<link rel="stylesheet" type="text/css" href="{% static 'css/istyle.css' %}">
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>

	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="index.html" class="logo">Lab Staff <span>Details</span></a></h1>
          <ul class="list-unstyled components mb-5">
            <li >
              <a href="../home/"><span class="fa fa-home mr-3"></span>Home</a>
            </li>
            <li >
                <a href="../FacilityForm/"><span class="fa fa-user mr-3"></span> Facilities</a>
            </li>
            <li >
              <a href="../RegularForm/"><span class="fa fa-briefcase mr-3"></span> Regular Employee Details</a>
	          </li>
            <li class="active">
              <a href="../ContractForm/"><span class="fa fa-briefcase mr-3"></span> Contract Employee Details</a>
	          </li>
            <li>
              <a href="../MaintenanceForm/"><span class="fa fa-briefcase mr-3"></span> Maintenance</a>
            </li>
            <li>
              <a href="../home/"><span class="fa fa-suitcase mr-3"></span> Logout</a>
            </li>
          </ul>





	      </div>
    	</nav>
<b>
        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h1>Contract Employee Details</h1>
	      <div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
	             <div class="booking-form">
							    <form method=post>{% csrf_token %}

								            <div class="form-group">
                                     <span class="form-label">Academic Year</span>
									              {{form.AcademicYear}}
								            </div>
                          <span class="form-label">Engineering - Male Staffs</span><br>
                            <div class="form-group">
                                Minimum
                                {{form.EngineeringMaleMin}}&nbsp; &nbsp;
                              Maximum
                                {{form.EngineeringMaleMax}}
                            </div>
                            <span class="form-label">Engineering - Female Staffs</span><br>
                            <div class="form-group">
                                Minimum
                                {{form.EngineeringFemaleMin}}&nbsp; &nbsp;
                              Maximum
                                {{form.EngineeringFemaleMax}}
                            </div>
                            <span class="form-label">Other Faculty - Male Staffs</span><br>
                              <div class="form-group">
                                  Minimum
                                  {{form.OtherFacultyMaleMin}}&nbsp; &nbsp;
                                Maximum
                                  {{form.OtherFacultyMaleMax}}
                              </div>
                              <span class="form-label">Other Faculty - Male Staffs</span><br>
                              <div class="form-group">
                                  Minimum
                                  {{form.OtherFacultyFemaleMin}}&nbsp; &nbsp;
                                Maximum
                                  {{form.OtherFacultyFemaleMax}}
                              </div>
                              <span class="form-label">Non Teaching - Male Staffs</span><br>
                                <div class="form-group">
                                    Minimum
                                  {{form.NonTeachingMaleMin}}&nbsp; &nbsp;
                                  Maximum
                                    {{form.NonTeachingMaleMax}}
                                </div>
                                <span class="form-label">Non Teaching - Male Staffs</span><br>
                                <div class="form-group">
                                    Minimum
                                  {{form.NonTeachingFemaleMin}}&nbsp; &nbsp;
                                  Maximum
                                    {{form.NonTeachingFemaleMax}}
                                </div>
								            <div class="form-btn">
									                     <button class="submit-btn">Submit</button>
								            </div>
							   </form>
						</div>
					</div>
        </b>
				</div>
			</div>

		</div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
