{% load static %}

<!doctype html>
<html lang="en">
  <head>
	  	<title>Sidebar 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900' %}" >


    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900' %}" >

		<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
      <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
        </div>
        <div class="p-4">
		  	<h1><a href="index.html" class="logo">Student <span>Details</span></a></h1>
        <ul class="list-unstyled components mb-5">
          <li>
              <a href="../home/"><span class="fa fa-home mr-3"></span>Home</a>
          </li>
          <li class=active>
               <a href="../feedback/"><span class="fa fa-user mr-3"></span> Feedback</a>
          </li>
          <li>
              <a href="../internship/"><span class="fa fa-briefcase mr-3"></span> Internships</a>
          </li>
          <li>
              <a href="../onlinecourse/"><span class="fa fa-sticky-note mr-3"></span> Online Courses</a>
          </li>
          <li>
              <a href="../home/"><span class="fa fa-suitcase mr-3"></span> Logout</a>
          </li>
        </ul>
      </div>
    	</nav>

      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="limiter">
          <div class="container-login100" >
            <div class="wrap-feed100">

        <!-- Page Content  -->
        <section class="ftco-section ftco-no-pt" style="float:center" >

          <div class="container" >
            <div class="row pt-md-3">
              {% for sem in s %}

                                <div class="col-md-4 d-flex align-items-stretch">
                                  <div class="services text-center">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                      <a href="#" ><span class="flaticon-fence"></span>
                                  </a>  </div>
                                    <div class="text">
                                      <h3>{{sem.sub_name}}</h3>
                                    </div>

                                  </div>
                              </div>
              {% endfor %}
            </div>
          </div>
   </section>

</div></div></div></div></div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquerymin.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>

  </body>
</html>
